{% extends "todo/base.html" %}
{% load static %}
{% block title %}{{ task.name }}{% endblock title %}
{% block css %}<link rel="stylesheet" href="{% static 'todo/detail.css' %}">{% endblock css %}
{% block body %}
  <div id="main">
    <h1 id="msg">Now, showing your task in detail</h1>
    <div id="taskContainer">
      <h2 id="taskName">{{ task.name }}</h2>
      <p id="description">{{ task.content }}</p>
      <p id="date">Your current deadline is: {{ task.date_limit }}</p>
      <p id="status">
        {% if task.done %}
          Congrats, You have done your task! Keep it going! 🎉🥳
        {% else %}
          A kindly reminder that you have not done your task 😔
        {% endif %}
      </p>
    </div>
  </div>
{% endblock body %}
