body {
  background-color: azure;
  margin: 0;
}

header {
  background-image: linear-gradient(blue, aquamarine);
  padding: 25px;
}

#textLogo {
  color: white;
  margin: 0;
}

.welcomeMsg {
  text-align: center;
}

h1 {
  font-family: sans-serif;
}

#tasksData {
  text-align: center;
}

#tasksContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  align-content: center;
}

.myTask {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  width: 50%;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}

.taskName {
  margin: 0;
}

.status {
  margin: 10px;
}

.limitDate {
  margin: 0;
}
