main {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

#welcomeMsg {
  text-align: center;
  font-style: italic;
  margin: 30px;
}

#tasksContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  align-content: center;
}

#notDoneTasks, #doneTasks {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  width: 50%;
  border-radius: 1em;
  padding: 10px;
  margin: 10px;
}

#doneTasks {
  background-color: #C5E1A5;
  border: 2px solid #A5D6A7;
}

#notDoneTasks {
  background-color: #F5B7B1;
  border: 2px solid #F28B82;
}

.myTask {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  min-width: 70%;
  margin: 10px;
  cursor: pointer;
  transition: transform 500ms, box-shadow 500ms;
}

.myTask:hover {
  box-shadow: 5px 5px 5px 2px;
  transform: scale(1.1);
}

.taskName {
  margin-bottom: 0;
}