#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  font-family: "Noto Sans", sans-serif;
}

#msg {
  text-align: center;
  font-weight: 500;
  margin: 30px;
}

#taskContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 15px;
  background-color: #ccdbfd;
  border: 1px solid #4d82bc;
  border-radius: 10px;
}

#description {
  padding: 0 20px;
}

#date {
  background-color: #ffe0b2;
  border-radius: 5px;
  font-weight: bold;
  width: fit-content;
}
