form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form div {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

form div label {
  text-align: center;
}

.errorlist {
  padding: 0;
  text-align: center;
}

.errorlist li {
  color: red;
  list-style-type: none;
}

#submitBtn {
  padding: 10px 20px;
  border-radius: 1rem;
  background-color: #fdeaf2;
  border: 2px solid #fbd5e5;
  cursor: pointer;
}

#submitBtn:hover {
  background-color: #fbd5e5;
  border-color: #f7bfd6;
}

#submitBtn:active {
  opacity: 80%;
}
