body {
    margin: 0;
    background-color: #ECEFF1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #131921;
    padding: 25px;
}

#textLogo {
    font-family: "Baloo Paaji 2", sans-serif;
    color: white;
    margin: 0;
    margin-left: 5%;
}

#proverb {
    font-family: "Noto Serif JP", serif;
    font-weight: 400;
    color: white;
    margin: 0;
}

#nav {
    width: 20%;
    text-align: center;
}

#home {
    text-decoration: none;
}

a#home:hover {
    color: rgb(171, 171, 171);
    transition: color 250ms;
}

#home:visited {
    color: white;
}