{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}HurryTask{% endblock title %}</title>
  <link rel="stylesheet" href="{% static "todo/common.css" %}">
  {% block css %}{% endblock css %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+JP&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div id="logoContainer">
      <img id="logo" src="{% static 'todo/assets/logoHurryTask.jpg' %}">
      <h1 id="textLogo">HURRY TASK</h1>
    </div>
    <div>
      <h1 id="proverb">時は人を待たず<span id="subtitle">Time waits for no one</span></h1>
    </div>
    <div id="nav">
      <span><a class="navOption" href="{% url 'todo:home' %}">Home</a></span>
      <span><a class="navOption" href="{% url 'todo:create-task' %}">Task Creator</a></span>
    </div>
  </header>
  {% block body %}
  
  {% endblock body %}
</body>
</html>