{% extends "todo/base.html" %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'todo/custom.css' %}">{% endblock css %}
{% block body %}
<main>
  <div id="welcomeMsg">
    <h1>Welcome to HurryTask, Currently you have ➡ {{ num_tasks }} task{{ num_tasks|pluralize }}!</h1>
  </div>
  
  <div id="tasksContainer">
    <div id="notDoneTasks">
      {% if not_done_tasks|length > 1 %}
        <h2>You have not done these tasks ❌</h2>
      {% elif not_done_tasks|length == 1 %}
        <h2>You have not done this task ❌</h2>
      {% else %}
        <h2>You do not have any task pending 🥳</h2>
      {% endif %}
      {% for task in not_done_tasks %}
      <div class="myTask" onclick="location.href='{% url 'todo:task_detail' task.slug %}'">
        <h3 class="taskName">{{ task.name }}</h3>
        <p class="limitDate">Deadline: {{ task.date_limit }}
      </div>
      {% endfor %}
    </div>
    <div id="doneTasks">
      {% if done_tasks|length > 1 %}
        <h2>You already did these tasks ✅</h2>
      {% elif done_tasks|length == 1 %}
        <h2>You already did this task ✅</h2>
      {% else %}
        <h2>You have not done any task 😿</h2>
      {% endif %}
      {% for task in done_tasks %}
      <div class="myTask" onclick="location.href='{% url 'todo:task_detail' task.slug %}'">
        <h3 class="taskName">{{ task.name }}</h3>
        <p class="limitDate">Deadline: {{ task.date_limit }}
    </div>
      {% endfor %}
  </div>
</main>
{% endblock body %}