header {
  background-color: red;
  display: flex;
  padding: 25px;
  align-items: center;
  justify-content: space-between;
}

#textLogo {
  font-family: "Baloo Paaji 2", sans-serif;
  width: 25%;
  text-align: center;

  margin: 0;
  cursor: pointer;
}

#textLogo a {
  text-decoration: none;
  color: white;
}

#proverb {
  font-family: "Noto Serif JP", serif;
  font-weight: 400;
  font-size: 2rem;
  color: white;
  text-align: center;
  margin: 0;
}

#subtitle {
  display: block;
  color: #bcbcbc;
  margin-top: 0.2rem;
  font-style: italic;
  font-size: 1rem;
  text-align: center;
}

#nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 30%;
  text-align: center;
}

#nav a {
  text-decoration: none;
  color: white;
}

#nav a:hover {
  color: rgb(189, 189, 189);
}
