main {
  text-align: center;
  display: flex;
  justify-content: center;
}

#taskContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  width: 75%;
  margin: 25px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: aliceblue;
}

.task {
  transition: box-shadow 1s;
}

.task:hover {
  box-shadow: 5px 5px 7px 0px;
}

.task div {
  margin: 10px;
  padding: 5px;
}

p {
  margin: 0;
}

.btn span {
  margin-left: 5px;
}

.cross {
  color: red;
}

.check {
  color: green;
}

.deadline {
  background-color: rgb(250, 199, 104);
  padding: 5px;
  border-radius: 10px;
}
