{% extends "tasks/base.html" %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'tasks/index.css' %}">
{% endblock css %}
{% block main %}
<div id="taskContainer">
  <h1>{{ title }}</h1>
  {% for task in tasks %}
    <div class="task card w-50 mt-3">
      <div>
        <p>{{ task.name }}
          {% if task.done %}
          <i class="bi bi-check-circle-fill check"></i>
          {% else %}
          <i class="bi bi-x-circle-fill cross"></i>
          {% endif %}
        </p>
      </div>
      <div>
        <a class="btn btn-light border-secondary-subtle" href="{% url 'tasks:task-detail' task.slug %}"><i class="bi bi-card-heading"></i><span>See details</span></a>
        <a class="btn btn-success border-success-subtle" href="{% url 'tasks:toggle-task' task.slug %}"><i class="bi bi-arrow-repeat"></i><span>Change status</span></a>
        <a class="btn btn-info border-info-subtle" href="{% url 'tasks:edit-task' task.slug %}"><i class="bi bi-pencil-square"></i><span>Edit task</span></a>
        <a class="btn btn-danger border-danger-subtle" href="{% url 'tasks:delete-task' task.slug %}"><i class="bi bi-x-square"></i><span>Delete</span></a>
      </div>
      <div>
        <p><span class="deadline">{{ task.complete_before }}</span></p>
      </div>
    </div>
  {% empty %}
    <h2>{{ no_tasks_msg }}</h2>
</div>
{% endfor %}
{% endblock main %}