{% extends "tasks/base.html" %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'tasks/index.css' %}">
{% endblock css %}
{% block main %}
<h1>{{ title }}</h1>
<div id="taskContainer">
  {% for task in tasks %}
    <div class="task card w-50 mt-3">
      <p>{{ task.name }}</p>
      <div>
        <a href="{% url 'tasks:toggle-task' task.slug %}">Cambiar estado</a>
        <a href="{% url 'tasks:edit-task' task.slug %}">Edit task</a>
        <a href="{% url 'tasks:delete-task' task.slug %}">Delete</a>
      </div>
      <p>{{ task.complete_before }}</p>
    </div>
  {% empty %}
    <h2>{{ no_tasks_msg }}</h2>
</div>
{% endfor %}
{% endblock main %}